/.idea/git_toolbox_prj.xml
/wind_reu.log
/.hydra/overrides.yaml
/.idea/other.xml
/.hydra/hydra.yaml
/.hydra/config.yaml
/local_data/MF/ff.dd.hourly.mf.2000-2020.csv
/local_data/MF/mf.station.csv
/.idea/sqldialects.xml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/Wind_reu.iml
/.idea/workspace.xml
/plot/
